
p{
    width: 900px;
}
body{
    margin-left: 10px;
}
#mapContainer{
    position: relative;
    height: 550px;
}

#mapTitle {
    font-weight: bold;
    font-size: 20;
    margin-bottom: 10px;
}

.styled-select {
   width: 350px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right white;
   border: 0;/*1px solid #ccc;*/
   }
.styled-select select {
   background: transparent;
   width: 350px;
   padding: 5px;
   font-size: 20px;
   font-weight: bold;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}
#map {
  width: 600px;
  height: 500px;
  position: absolute;
  top: 40px;
}

#legend{
    position:absolute;
    left: 620px; /* 20 more than map width, also set offsets in js for tooltip*/
    top: 330px;
    fill-opacity: 0.6; /*to match path fill below for svg elements*/
}

.mappath {
  fill: #000;
  fill-opacity: .6;
  stroke: #fff;
  stroke-width: 0px;
}

.mappath:hover {
  /*fill-opacity: 0.8;*/
  stroke-width: 2px;
  stroke: grey;
}

#plotContainer{
    width: 900}
.lineAct {
    fill: none;
    stroke-width: 4;
    stroke: teal;
    stroke-opacity: 0.3;
}

.linePred {
    fill: none;
    stroke-width: 3;
    stroke: orange;
}
.lineCount {
    fill: grey;
    stroke-width: 1;
    stroke: lightgrey;
    
}
.axis line,
.axis path {
    stroke-width:1;
    stroke:grey;
    fill:none;
}
.axisLine{
    //fill: none;
    stroke: #e8e8e8;
    stroke-width: 1;
    shape-rendering: crispEdges;
    }
.axis text{
    font-size: 10;
    fill: #b3b3b3;
    font-weight: normal;
    text-transform: uppercase;
    }
.smallLabel{
    font-size: 12;
}

/* Overall container for the tooltip */
#tooltipContainer{
    position: absolute;
    display: block; 
    background: white;
    color: dimgray;
    border-radius: 3px;
    padding: 10px;
    width: 275px;
    opacity: 0;
    pointer-events: none;
}
.tooltipTitle{
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    font-size: 18;
}
.tooltipSubTitle{
    font-weight: normal;
    opacity: 0.8;
    float: right;
    font-size: 12;
}
.tooltipMetricContainer{
    background: red;
}
.tooltipMetricName{
    float: left;
}
.tooltipMetricValue{
    float: right;
}

.tooltipTail-down{
    /* position down arrow relative to the #tooltipContainer */
    position: absolute;
    bottom: -11px;
    left: 95px;
    
    /* Render a triangle of ccs pointing down as discussed here:
       http://davidwalsh.name/css-triangles */
    width: 0; 
    height: 0; 
    border-right: 12px solid transparent;  /* left arrow slant */
    border-left: 12px solid transparent; /* right arrow slant */
    border-top: 12px solid white; /* bottom, add background color here */
    font-size: 0;
    line-height: 0;
}