#map {
  width: 920px;
  height: 500px;
}

svg {
  position: relative;
}
/* Fix me: this should be the same height as the map...*/
#legend{
    position:absolute;
    left: 940px;
    top: 200px;
}

path {
  fill: #000;
  fill-opacity: .6;
  stroke: #fff;
  stroke-width: 0px;
}

path:hover {
  
  fill-opacity: 0.8;
}
